{% extends 'base.html' %}
{% block title %}
<title>FAQ</title>
{% endblock %}
{% block body %}

<body>

<h1>See your questions here</h1>

{% if messages %}
    {% for message in messages %}
        <div class="success {{ message.tags }} m-2" id="msg" role="success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %} 

<h3>Ask Away</h3>

<form class='form-inline d-flex' action="{% url 'FAQ_HOME'%}" method='POST'>
    {%csrf_token%}
    <input class="form-control mb-sm-0" name="Question" type="text"/>
    <input class="form-control mb-sm-0" name="Author" type="text"/>
    <button class="btn btn-primary" type="submit">GO</button>
</form>
<div class="row  ml-5 mr-5 mt-5">
{% for Faq in faq %}
 <div class="col-lg-6" style="display: inline-block;" >
      <div class="card mb-5 panel two bg-transparent" >
        <div class="panel-container">
          <div class="card-body panel-content">
            <h3 class="card-title"><i class="fas fa-question-circle mr-2"></i>{{Faq.question}}</h3>
            <h5><p class="card-text"><i class="fas fa-comment-alt mr-2"></i> {{Faq.answer}}</p></h>
            <h4><footer class="blockquote-footer">{{Faq.author}}-- <cite title="Source Title">{{Faq.date_pretty}}</cite></footer></h4>
          </div>
        </div>
      </div>
    </div>
{% endfor %}
</div>
  <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>

</body>
{% endblock body %}