{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>@Cart</title>
{% endblock title %}


{% block body %}
<body>
    <section>
      <nav
        class="navbar navbar-expand-lg navbar-light sticky-top">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="#"><h1>LAPTOP MANIA</h1></a>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link " href="#">FAQs</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'LOGOUT' %}">Logout</a>
            {% endif %}            
            </li>
          </ul>
        </div>
      </nav>
    </section>



{% for i in items %}
<br><br><br>
{{i.laptop.FullName}}
<button data-product="{{i.laptop.id}}" data-action="delete" class="update-cart btn btn-primary add-btn" type"">Remove from cart</button>
<br><br><br>
{% endfor %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}" ></script>
<script type="text/javascript">
var user = '{{request.user}}'

function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');
</script>

</body>
{% endblock body %}