{% extends 'base.html' %}
{% block body %}
<body>
<style>
  body{
    background:white;
    color: black;
  }
  .list{
    border-left: 5px solid orange;
    border-right:none;
    border-top:none;
    border-bottom:none;
  }
   
   .fas{
       margin-right: 5px;
   }
  body{
      background: rgb(253, 218, 154);
  }
  .review{
      border-left:5px solid rgb(251, 85, 251);
  
    }
  
</style>
   <style>
  body{
    background:white;
    color: black;
  }
  .list{
    border-left: 5px solid orange;
    border-right:none;
    border-top:none;
    border-bottom:none;
  }
   </style>

<section class="container">
    <div class="row">
        <!-- <div class="position-fixed">           -->
        <div class="col-lg-5 container-well" style="text-align: center;">
         <img style="position: sticky; top : 2rem;" id="image" class="img-thumbnail mb-5" src=" https://images.unsplash.com/photo-1582056615449-5dcb2332b3b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">  

         <button class="btn btn-danger mt-3" style="position: sticky; top:21rem">COMPARE</button>
         </div>
    <!-- </div> -->
        <div class="col-lg-7 container-well mb-5">
            <h4 >MarQ by Flipkart Falkon Aerbook Core i5 8th Gen - (8 GB/256 GB SSD/Windows 10 Home) MAi5882SWT Thin and Light Laptop  (13.3 inch, Silver, 1.26 kg)</h4>
           

            <h6><p>₹41,990₹ 59,99930% off</p>

               <p><i class="fas fa-certificate"></i>Available offers</p> 
                
                <p><i class="fas fa-certificate"></i>No cost EMI ₹4,666/month. Standard EMI also availableView Plans</p> 
                
             <p><i class="fas fa-certificate"></i> Bank Offer5% Unlimited Cashback on Flipkart Axis Bank Credit CardT&C</p>  
                
             <p><i class="fas fa-certificate"></i> Bank OfferFlat ₹30 discount on first prepaid transaction using RuPay debit card, minimum order value ₹750/T&C</p>  
                
              <p><i class="fas fa-certificate"></i> Bank Offer₹30 Off on first prepaid transaction using UPI. Minimum order value ₹750/-T&C</p> 
                
               <p> View 7 more offers</p>
                
               <p>1 Year Onsite Warranty Commencing from the Date of PurchaseKnow More
                Delivery
                Enter Delivery Pincode
                CheckEnter pincode
                Usually delivered</p> 
                <p>  in7-8 days?Enter pincode for exact delivery dates/charges</p>
                <h3>View Details</h3>
                 
                <p><i class="fas fa-certificate"></i>Stylish & Portable Thin and Light Laptop</p> 
                <p><i class="fas fa-certificate"></i>13.3 inch Full HD LED Backlit IPS Display (60 Hz Refresh Rate)</p>  
                <p><i class="fas fa-certificate"></i>Light Laptop without Optical Disk Drive</p> 
                <p><i class="fas fa-certificate"></i>Easy Payment Options</p>
                <p><i class="fas fa-certificate"></i>No cost EMI starting from ₹4,666/month</p>
                <p><i class="fas fa-certificate"></i>Cash on Delivery</p>  
                <p><i class="fas fa-certificate"></i> Net banking & Credit/ Debit/ ATM card</p> 
              
               <p>Important Note
                The laptop comes with pre-installed Windows 10 Home with a lifetime license. The customer needs to connect the laptop to the Internet and activate the OS through system settings post-delivery.
                Seller</p> 
                RetailNet4.6</h6>

                <h3>REVIEWS</h3>
                <div>
                    <div class="review pl-2 mb-5">
                        <p>5 <i class="fas fa-star"></i></p>
                        <p>Build quality is very good with metal chassis. A good combination of processor, power and memory. Giving almost 4 hrs 45 min battery backup with normal usage (kept screen brightness low). This system is a good choice for daily task . Not good for gammers.
                            Minus point is SSD is only for 250 GB (237 GB usable approx) and system is running on DDR3 RAM.</p>
                            <h4><footer class="blockquote-footer">username</footer></h4>
                    </div>
                    <div class="review pl-2 mb-5">
                        <p>5 <i class="fas fa-star"></i></p>
                        <p>Build quality is very good with metal chassis. A good combination of processor, power and memory. Giving almost 4 hrs 45 min battery backup with normal usage (kept screen brightness low). This system is a good choice for daily task . Not good for gammers.
                            Minus point is SSD is only for 250 GB (237 GB usable approx) and system is running on DDR3 RAM.</p>
                            <h4><footer class="blockquote-footer">username</footer></h4>
                    </div>
                    <div class="review pl-2 mb-5">
                        <p>5 <i class="fas fa-star"></i></p>
                        <p>Build quality is very good with metal chassis. A good combination of processor, power and memory. Giving almost 4 hrs 45 min battery backup with normal usage (kept screen brightness low). This system is a good choice for daily task . Not good for gammers.
                            Minus point is SSD is only for 250 GB (237 GB usable approx) and system is running on DDR3 RAM.</p>
                            <h4><footer class="blockquote-footer">username</footer></h4>
                    </div>
                </div>
                <h3 style="display: inline;" class="mr-3">ANY QUERY ? </h3>
                <button class="btn btn-success">FAQ</button>
               

        </div>

    </div>


</section>
</body>
{% endblock body %}