<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<body>

<form method="GET" action="{% url 'LAPTOP' %}">
        <input type="radio" name="order" value="-Battery" > Battery<br>
        <input type="radio" name="order" value="-Ram" > Ram <br>
        <input type="radio" name="order" value="-ProcessorType"> Processor <br>
        <button class="btn btn-primary" type"submit">SORT!</button>

</form>

  {% if  lap_list %}
{% for laptop in lap_list %}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqfzLmC4Rg0UE_nfCHAW3plVHctLmNjKLhtA&usqp=CAU" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ laptop.DisplayName }}</h5>
    <p class="card-text"></p>

  <form id="cart" method="POST" action="{% url 'CART' %}">
      {% csrf_token %}
    <input type = "hidden" name="ID"  value="{{laptop.id}}" >
    <button class="btn btn-primary" type"submit">Add to Cart</button>
  </form>
  
  
  
  </div>
</div>
{% endfor %}
{% endif %}
      <form class='form-inline d-flex' action="{% url 'LAPTOP'%}" method='POST'>
            {%csrf_token%}
            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="search" type="text" placeholder="Search..." />
            <button class="btn btn-primary mx-auto" type="submit">GO</button>
    </form>
    {% if query %}
    <ul class="list-group t20">
    <h1>search results for {{query}}</h1>
        {% for laptop in lap_list %}
            <li class="list-group-item todo-completed">{{ laptop.DisplayName }}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqfzLmC4Rg0UE_nfCHAW3plVHctLmNjKLhtA&usqp=CAU" alt="" style="margin : 3rem;">

            </li>
            {% endfor %}
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>




</body>

</html>